nav {
	min-height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		border: 2px solid rgb(65, 65, 65);
		border-radius: 0.2rem;
		font-size: 1rem;
		padding: 0.5rem;
		transition: all 0.3s ease;

		&:hover {
			background: rgb(51, 51, 51);
			color: white;
		}

		svg {
			margin-left: 0.2rem;
		}
	}
}

@media screen and (max-width: 768px) {
	nav {
		button {
			padding: 0.8rem;
			z-index: 10;
		}
	}
}
